html {
    scroll-behavior:smooth;
  }
*{
    margin: 0;
    padding: 0;
}
.menuLateral{
    border: solid 5px rgb(19, 248, 19);
    width: 250px;
    height: 100vh;
    position: fixed;
    bottom:0;
    right: 0;
    background-color: cornflowerblue;
    z-index:2;
    border-radius: 30px 0 0 30px;
    box-shadow: -1px -2px 15px 2px rgba(0,0,0,0.35);
    scroll-behavior:smooth;
}

.menuLateral ul li{
    list-style:none;
    margin: 50px 20px;
}

.menuLateral ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.linea-1{
    width: 15px;
    height: 1px;
    background-color:darkblue;
    display: inline-block;
}

.linea-2{
    width: 80px;
    height: 1px;
    background-color: darkblue;
    display: inline-block;
}

.linea-3{
    width: 60px;
    height: 1px;
    background-color: darkblue;
    display: inline-block;
}
.linea{
    line-height: 8px;
}

.header{
   
    height: 100vh;
    background-image: url(./img/brazo.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #ffffff;
   
}



h1{
    font-size: 4em;
    font-family: 'Josefin Sans', sans-serif;

    
}

.contenedor{
   
    margin-top: 30px;
    width: 400px;
    margin-left: 60px;
    padding: 60px;
 
}   




p{
    font-size: 1.3em;
    line-height: 25px;
    color:black;
    width: 300px;
    padding: 1em 0;
}

.texto_cabecera{
   
    max-width: 100%;
}

.boton_cabecera{
    padding: 10px 70px;
    outline: none;
    background: cornflowerblue;
    border: solid 2px darkblue;
    border-radius: 20px;
    color: white;
    
}
.boton_cabecera:hover{
    padding: 10px 60px;
    outline: none;
    background: white;
    border: solid 2px darkblue;
    color: cornflowerblue;
    
}

#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
}   

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
    .parrafo_intro{
        font-size: 30px;
        line-height: 25px;
        color:black;
        width: 80vw;
    }
}

.angry-animate{
    -webkit-animation:change-color 4s ease 0s infinite normal;
    -moz-animation:change-color 4s ease 0s infinite normal;
    -ms-animation:change-color 4s ease 0s infinite normal;
    animation:change-color 4s ease 0s infinite normal;
    
    }
.proyecto{
  display: grid;
}
.codigoMenu{
    height: 400px;
    place-self: center;
}

.proyecto{

    height: 100vh;
    background-color: rgb(180, 245, 223);
    display: flex;
    align-items: center ;
   
    }
.proyecto div{
    width: 50%;
    padding: 0 4em;
    /* border: 2px solid red; */
}

.video_proyecto{
    box-shadow: -3px 13px 76px -54px rgba(0,0,0,0.75);
    border-radius: 1em;
    border: 13px double greenyellow;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
}
/* .texto_proyecto{
    background-color: chartreuse;
    border-radius: 10px;
} */

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    div#slider { 
        overflow: hidden; 
    }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }
    

    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #56e95b;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}